<p>
    The <i>Vcs-*</i> headers in the last upload of this package are still pointing
    to <a href="https://wiki.debian.org/Alioth/FAQ">alioth</a>
    {% if run %}({{ run.branch_url }}){% endif %}
    . However,
    Alioth has been turned off and its repositories are no longer directly accessible.
</p>
<p>
    Please migrate the package to alioth's replacement, <a href="https://salsa.debian.org/">salsa</a> and update the <i>Vcs-*</i> headers.
</p>
