<p>
    The packaging branch
    {% if run %}({{ run.branch_url }}){% endif %}
    is accessible, but does not contain
    a <i>debian/control</i> file.
</p>
<p>
    This may be because the <i>Vcs-*</i>
    URL points at a branch that contains the upstream sources, rather than the Debian packaging.
</p>
<p>
    You can
    update the Vcs location on
    <a href="https://qa.debian.org/cgi-bin/vcswatch?{%- if run -%}package={{ package.name }}{%- endif -%}">vcswatch</a>.
</p>
