{% extends "layout.html" %}
{% block page_title %}
    Index
{% endblock page_title %}
{% block body %}
    <div class="section" id="contact">
        <h1>Contact</h1>
        <p>
            For more information about the janitor, see <a href="/about">the about page</a>.
        </p>
	<p>If you're interested in contributing, see the <a href="https://salsa.debian.org/janitor-team/janitor.debian.net#contributing">contributing</a> section in the README.</p>
        <p>Please contact us:</p>
        <ul>
            <li>
                By e-mail at <a href="mailto:team+janitor@tracker.debian.org">team+janitor@tracker.debian.org</a>
            </li>
            <li>
		On IRC in the <a class="reference external" href="irc://irc.oftc.net/#debian-janitor">#debian-janitor IRC channel on irc.oftc.net</a> or <a href="https://matrix.to/#/#debian-janitor:matrix.debian.social">on Matrix</a>.
            </li>
        </ul>
    </div>
{% endblock body %}
