{% macro display_maintainer_email(maintainer_email) %}
    <a class="reference external" href="https://qa.debian.org/developer.php?login={{ maintainer_email }}">{{ maintainer_email }}</a>
{% endmacro %}
{% macro display_branch_url(vcs_browse, vcs_url, vcswatch_version=None) %}
    {% if vcs_browse %}
        <a href="{{ vcs_browse }}">{{ vcs_url }}</a>
    {% else %}
        <a href="{{ vcs_url }}">{{ vcs_url }}</a>
    {% endif %}
    {% if vcswatch_version %}(taken from version <b>{{ vcswatch_version }}</b>){% endif %}
{% endmacro %}
{% macro local_command(command, command_package, package, vcs, vcs_url) %}
    {% if failure_stage and (failure_stage == 'validate' or (command and failure_stage.startswith('codemod/'))) %}
        <p>
            Try this locally
            {% if command_package %}
                (using the <a href="https://packages.debian.org/{{ command_package }}">{{ command_package }}</a>
            {% endif %}
            package):
        </p>
        <div class="highlight-default notranslate">
            <div class="highlight">
                <pre>
{% if failure_stage == 'validate' %}
debcheckout {{ package }}
deb-vcs-up-to-date
{% elif failure_stage == 'codemod/dist' %}
git clone {{ result['upstream_branch_url'] }} {{ package }}
cd {{ package }}
ogni dist
{% elif failure_stage.startswith('codemod/') or failure_stage == 'codemod' %}
debcheckout {{ package }}
cd {{ package }}
{{ command }}
{% endif %}
</pre>
            </div>
        </div>
    {% endif %}
{% endmacro %}
