<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rev="made" href="mailto:team+janitor@tracker.debian.org"/>
        <title>The Debian Janitor -
            {% block page_title %}
            {% endblock page_title %}
        </title>
        <link type="text/css" rel="stylesheet" href="/_static/debian-janitor.css" />
        <link rel="stylesheet" href="/_static/alabaster.css" type="text/css" />
        <link rel="stylesheet" href="/_static/janitor.css" type="text/css" />
        <link rel="stylesheet" href="/_static/lintian.css" type="text/css" />
        <link rel="author" title="About these documents" href="/about" />
        <link rel="stylesheet" href="/_static/typeahead.css" type="text/css" />
        <link rel="stylesheet" href="/_static/pygments.css" type="text/css" />
        <link rel="stylesheet" href="/_static/datatables.css" type="text/css" />
        <meta name="viewport"
              content="width=device-width, initial-scale=0.9, maximum-scale=0.9"/>
    </head>
    <body>
        <script src="/_static/jquery.js"></script>
        <script src="/_static/jquery.typeahead.js"></script>
        <script src="/_static/jquery.datatables.js"></script>
        <script src="/_static/moment.js"></script>
        <script src="/_static/chart.js"></script>
        <script src="/_static/janitor.js"></script>
        {% include "analytics.html" %}
	<div id="header">
	  <div id="upperheader">
	    <div id="logo">
	    <a href="/" title="Debian Janitor"><img src="https://www.debian.org/Pics/openlogo-50.png" alt="Debian" width="50" height="61"/></a>
	    </div>
	  </div>
	  <div id="navbar">
	    <p class="hidecss"><a href="#content">Skip Quicknav</a></p>
	    <ul>
	      <li><a href="/lintian-fixes/">Lintian Fixes</a></li>
	      <li><a href="/multiarch-fixes/">Multi-Arch Fixes</a></li>
	      <li><a href="/scrub-obsolete/">Scrub Obsolete</a></li>
	      <li><a href="/orphan/">Orphaning</a></li>
	      <li><a href="/mia/">MIA</a></li>
	      <li><a href="/watch-fixes/">Watch Fixes</a></li>
	      <li><a href="/uncommitted/">Uncommitted Changes</a></li>
	      <li><a href="/unversioned/">Unversioned</a></li>
	      <li><a href="/alioth-imports/">Alioth archive imports</a></li>
	      <li><a href="/bullseye-backports/">Bullseye Backports</a></li>
	      <!--
	      <li><a href="/bookworm-backports/">Bookworm Backports</a></li>
	      -->
	      <li><a href="/fresh-releases/">Upstream Releases</a></li>
	      <li><a href="/fresh-snapshots/">Upstream Snapshots</a></li>
	    </ul>
	  </div>
	</div>
        <div class="document">
            {% block sidebar %}
            {% endblock sidebar %}
            <div class="documentwrapper">
                <div class="bodywrapper">
                    <main>
                        {% block body %}
                        {% endblock body %}
                    </main>
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>
