{% extends "layout.html" %}
{% block sidebar %}
    {% include "debianize/sidebar.html" %}
{% endblock sidebar %}
{% from "lintian-fixes/util.html" import lintian_tag_link %}
{% block page_title %}
    Debianize - lintian issues by tag
{% endblock page_title %}
{% block body %}
    <div class="section" id="fixed-tag-list">
        <h1>Issues by tag</h1>
        <ul>
            {% for tag, count in tags %}
                <li>
                    <a href="{{ tag }}">{{ tag }}</a> ({{ count }})
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}
