{% extends "layout.html" %}
{% block sidebar %}
    {% include "new-upstream/sidebar.html" %}
{% endblock sidebar %}
{% block page_title %}
    {{ suite }} - Candidates
{% endblock page_title %}
{% block body %}
    <div class="section" id="candidates">
        <h1>{{ suite }} - Candidates</h1>
        <ul>
            {% for candidate in candidates %}
                <li>
                    <a href="/{{ suite }}/pkg/{{ candidate.package }}/">{{ candidate.package }}</a> - {{ candidate.archive_version.upstream_version }} → {{ candidate.version }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}
