{% extends "package.html" %}

{% from "run_util.html" import install_commands with context %}
{% from "new-upstream/util.html" import new_upstream_summary %}

{% block sidebar %}
    {% include "new-upstream/sidebar.html" %}
{% endblock sidebar %}

{% block campaign_title %}New Upstream {% if suite == 'fresh-snapshots' %}Snapshot {% else %} Release {% endif %}{% endblock campaign_title %}

{% block summary %}
{{ new_upstream_summary(result) }}
{% if binary_packages %}
<h2>Resulting package</h2>
<p>Built on {{ format_timestamp(finish_time) }} (took {{ format_duration(finish_time - start_time) }})</p>
{{ install_commands(binary_packages, suite) }}
{% endif %}
{% endblock summary %}

{% block additional_metadata %}
{% if candidate_version %}
    <li>
	A new upstream version is available: <b>{{ candidate_version }}</b>
    </li>
    <!-- Candidate value: {{ candidate_value }} -->
{% endif %}
{% endblock additional_metadata %}
