{% extends "layout.html" %}
{% block sidebar %}
    {% include "multiarch-fixes/sidebar.html" %}
{% endblock sidebar %}
{% block page_title %}
    Multi-Arch Fixes - by hint
{% endblock page_title %}
{% block body %}
    <div class="section" id="hint-list">
        <h1>Runs by hint applied</h1>
        <ul>
            {% for hint, count in hints %}
                <li>
                    <a href="{{ hint }}">{{ hint }}</a> ({{ count }})
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}
