{% extends "layout.html" %}
{% block sidebar %}
    {% include "multiarch-fixes/sidebar.html" %}
{% endblock sidebar %}
{% block page_title %}
    Multi-Arch Fixes - for {{ hint }}
{% endblock page_title %}
{% block body %}
    <div class="section" id="fixed-hint">
        <h1>
            Fixes for hint <i>{{ hint }}</i>
        </h1>
        <p>
            Description: <a href="https://wiki.debian.org/MultiArch/Hints#{{ hint }}">on wiki</a>
        </p>
        <ul>
            {% for package, command, result_code, context, start_time, id, hint in packages %}
                <li>
                    <a href="../pkg/{{ package }}">{{ package }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}
